h1= title
p Master physicians management app
ul
  li: a(href='/accounts') Get a list of 10 Accounts - for testing connection to SF org
  li: a(href='/physicians') Get a list of the first 100 physicians