h1= title
p Physicians Data Service Management
ul
  li: a(href='/authOrg') Connect this Physicians Data Service to a Salesforce.com Org
  li: a(href='/physicians') Maintain central Physicians repository